.App {
  text-align: center;
}

body{
  background: #eee;
  font-family: sans-serif;
}

.row{
  display: flex;
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: 4px solid orangered;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 9px 0px rgba(26,26,26,0.65);
-moz-box-shadow: 3px 3px 9px 0px rgba(26,26,26,0.65);
box-shadow: 3px 3px 9px 0px rgba(26,26,26,0.65);
margin-top: 20px;
}

.NewConfirmed,
.TotalConfirmed,
.NewDeaths,
.TotalDeaths,
.TotalRecovered{
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  
}

.NewConfirmed{
  color: orangered;
}

.TotalConfirmed{
  color: blueviolet;
}
.NewDeaths{
  color: yellowgreen ;
}
.TotalDeaths{
  color: crimson;
}

.TotalRecovered{
  color: aqua;
}

table{
  border-collapse: separate;
  width: 80%;
  margin: 0 auto;
  border-spacing: 0 12px;
  box-shadow: black;
  margin-top: 35px;
  
}

table thead tr {
  background: #fff;
  -webkit-box-shadow: 3px 3px 9px 0px rgba(26,26,26,0.65);
  -moz-box-shadow: 3px 3px 9px 0px rgba(26,26,26,0.65);
  box-shadow: 3px 3px 9px 0px rgba(26,26,26,0.65);
}


table thead tr th {
  padding: 18px 12px;
  text-align: left;
  
}

table tbody tr{
  background: #fff;
  
}

table tbody tr td{
  padding: 18px 12px;
  text-align: left;
  
}

#start, #start2{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  
}
#end, #end2{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}